{# templates/lucky/home.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Галерея{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/lightgallery@2.3.0,npm/lightgallery@2.3.0/plugins/zoom/lg-zoom.umd.min.js,npm/lightgallery@2.3.0/plugins/thumbnail/lg-thumbnail.umd.min.js"></script>
{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">
            <h1 class="header">Тестовое задание с галереей</h1>
            <div style="display: block">
            {% if is_granted('ROLE_ADMIN') %}
                <span>Вы залогинены.</span>
                <a href="/logout">Выйти</a>
                <!-- форма, для отправки фоток на сайт -->
                <form method="POST" {% if images %} style="display: none" {% endif %} class="file-upload-form" action="{{ path('app_gallery_upload') }}" enctype="multipart/form-data">
                    <input id="file-upload" type="file" name="image" accept="image/png,image/jpeg">
                </form>


            {% else %}
                <a href="/login">Войти,</a> <span>чтобы редактировать галерею.</span>
            {% endif %}
            <!-- checking if we parsed images through and if we did, we create inline gallery -->
                <div id="inline-gallery-container" {% if not images %}style="display: none" {% endif %} class="inline-gallery-container"></div>
            {% if images %}
                <span id="gallery-info"></span>
            {% else %}
                <span id="gallery-info">Сейчас галерея пуста! Добавьте файл, чтобы увидеть её.</span>
            {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const lgContainer = document.getElementById('inline-gallery-container');
        let lgOpen = false;
        const galleryItems = [
            {% for image in images %}
            {
                src: '{{ asset(image.directory) }}',
                thumb: '{{ asset(image.directory) }}',
            },
            {% endfor %}

        ];
        //adding remove and upload button but only if user is admin
        {% if is_granted('ROLE_ADMIN') %}
        lgContainer.addEventListener('lgInit', (event) => {
            let updateSlideInstance = event.detail.instance;
            const deleteBtn =
                '<button type="button" aria-label="Remove slide" class="lg-icon" id="lg-delete"><img src="{{ asset('images/trash-can.png') }}"></button>';
            const uploadBtn = '<label class="lg-icon" id="lg-upload" for="file-upload" style="cursor: pointer;"><img src="{{ asset('images/upload.png') }}"></label>';
            updateSlideInstance.outer.find('.lg-toolbar').append(deleteBtn);
            updateSlideInstance.outer.find('.lg-toolbar').append(uploadBtn);
        });
        lgContainer.addEventListener('lgAfterOpen', () => {
            lgOpen = true;
        })
        {% endif %}
        const inlineGallery = lightGallery(lgContainer, {
            container: lgContainer,
            dynamic: true,
            // Turn off hash plugin in case if you are using it
            // as we don't want to change the url on slide change
            hash: false,
            // Do not allow users to close the gallery
            closable: false,
            // Add maximize icon to enlarge the gallery
            showMaximizeIcon: true,
            // Append caption inside the slide item
            // to apply some animation for the captions (Optional)
            appendSubHtmlTo: '.lg-item',
            // Delay slide transition to complete captions animations
            // before navigating to different slides (Optional)
            // You can find caption animation demo on the captions demo page
            slideDelay: 400,
        });
        if(galleryItems.length!==0){
            // Since we are using dynamic mode, we need to programmatically open lightGallery
            inlineGallery.refresh(galleryItems);
            inlineGallery.openGallery(0);
        }
        else {

        }





        inlineGallery.outer.find('#lg-delete').on('click', () => {
            // Delete first item
            if (galleryItems.length > 1){
                let cur_index = parseInt($(".lg-current").children().children().attr("data-index"));
                let imagesrc = galleryItems[cur_index]['src'];
                galleryItems.remove(cur_index);
                inlineGallery.refresh(galleryItems);
                if (galleryItems.length===2){
                    inlineGallery.updateSlides(galleryItems, 0);
                }
                if (cur_index===0) {
                    inlineGallery.updateSlides(galleryItems, cur_index+1);
                }
                else {
                    inlineGallery.updateSlides(galleryItems, cur_index-1);
                }
                $.post('/delete', {imagesrc: imagesrc}, function(data){
                });
            }
            else {
                $.post('/delete', {imagesrc: galleryItems[0]['src']}, function(data){
                });
                initialized = false;
                $('#gallery-info').text('Сейчас галерея пуста! Добавьте файл, чтобы увидеть её.');
                $('#file-upload').parent().attr('style','display: contents');
                $('#inline-gallery-container').toggle();
            }
        });

        $('#file-upload').on('change', () => {
            let file = $('#file-upload').prop('files')[0];
            let fd = new FormData;
            if ($('.file-upload-form').is(":visible")){
                $('.file-upload-form').toggle();
            }
            fd.append('img',file);
            $.ajax({
                url: '/upload',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    galleryItems.push({src: data, thumb: data, __slideVideoInfo: undefined});
                    inlineGallery.refresh(galleryItems);
                    if(lgOpen){
                        if ($('#inline-gallery-container').is(":hidden")){
                            $('#inline-gallery-container').toggle();
                        }
                        inlineGallery.updateSlides(galleryItems, parseInt($(".lg-current").children().children().attr("data-index")));
                    }
                    else{
                        if ($('#inline-gallery-container').is(":hidden")){
                            $('#inline-gallery-container').toggle();
                        }
                        inlineGallery.openGallery();
                    }
                }
            });
        });

        // функция, для удаления элемента массива по его айди
        Array.prototype.remove = function(from, to) {
            var rest = this.slice((to || from) + 1 || this.length);
            this.length = from < 0 ? this.length + from : from;
            return this.push.apply(this, rest);
        };

    </script>

{% endblock %}